html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #eeeeee;
}

.site-nav {
    background-color: #234465;
}

.site-nav ul {
    list-style: none;
    display: flex;
}

.site-nav ul li {
    font-size: 1.1em;
    padding: 1em 1.5em;
}

.site-nav ul li:hover {
    background-color: #123354;
    transition: ease-in-out 0.3s;
}

.site-nav ul li a {
    color: #ffffff;

    text-decoration: none;
}

.site-main {
    padding: 1em;
}

footer {
    color: #234465;
    display: flex;
    right: 0;
    position: absolute;
    bottom: 0;
    padding: 1em 2em 1em 1em;
    height: 2em;
}